.main-bar {
    width: 100%;
    height: 20%;
    background-color: $main-color;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-heading {
    margin: 0 3rem;
    
    h1 {
        font-size: 2.8rem;
        margin: 0.4rem 0;
        
    }

    .main-bar-made-by {
        font-size: 0.6rem;
        a {
            color: $secondary-color;
        }
    }
}



.main-bar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
    position: relative;
    

    p, button {
        margin-left: 1.4rem;
        background: none;
        font-size: 1.6rem;
        color: $secondary-color;
        border: none;
        border-bottom: 0.2rem solid transparent;
        font-family: 'Roboto Mono', monospace;
        padding: 0;
        cursor: pointer;
    }

    button {
        border-bottom: 0.2rem solid $secondary-color;
    }
}


@media only screen and (max-width: $breakpoint-1){
    .main-bar {
        height: 15%;
    }

    .main-bar-heading {
        margin: 0 1.1rem;
        h1 {
            font-size: 2rem;
        }
    }

    .main-bar-buttons {
        margin: 0 0.8rem;
        flex-direction: column;
        p, button {
            font-size: 1.2rem;
            margin: 0 0.3rem;
        }
    }
}